.div1{
   background-image:linear-gradient(rgba(9, 9, 9, 0.329),rgba(9, 9, 9, 0.165) ), url(mj/bg-masthead.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.p-12{
   padding: 0px 450px;
}
.p1{
   padding: 0px 200px;
}