.di{
    background-image: url(im/watercolor-emerald-background_23-2150266303.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 47em;
}