.d{
    background-image: url(im/nody-بک-گراند-ساده-و-شیک-برای-متن-1677234012.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
